/* for the table */
*
#table_preview table ,#table_preview td, #table_preview tr{
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 30px;
}
#table_preview table{
    min-width: 1000px;
}
#time_table_container{
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 6px;

}

.jour,.heures{
    font-family: 'Roboto', sans-serif;
    background: #9675ce ;
    color: #FFF;
    font-size: 14px ;
    font-weight: 500;
    
}
.jour {
    padding: 15px;
}
.champs{
   padding-right: 15px;
}
/* for the table */

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
}


/* for the form */

#forms{
    display: inline-block;
    margin-left:35%;
    text-align: center;
}
#new{
    padding-bottom: 10px;
}
#modif{
    display: flex;
    margin-left:115%;
    text-align: center;
}
#ancien_medicament{
    pointer-events:none;
}

#padding_preview{
    padding-top: 10px;
}


/* for the form */

/* for the cross */
.close {
    position: absolute;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10px;
    top: 7px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
/* for the cross */

/* button */
input[type=button],input[type=submit]{
    cursor: pointer;
    background: #ed2553;
    border-radius: 3px;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px grey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
/* button */

input[type=text]{
    height: 25px;
    border: 1.5px solid #9b9b9b;
    padding: 5px;
}

input[type=checkbox]{
    height: 15px;
    width: 15px;
    background: #e6e6e6;
}