/* for the table */
*{
    box-sizing: border-box;
}

#table_preview table ,#table_preview td, #table_preview tr{
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 30px;
}
#table_preview table{
    min-width: 1000px;
}
#time_table_container{
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 6px;

}

.jour,.heures{
    font-family: 'Roboto', sans-serif;
    background: #9675ce ;
    color: #FFF;
    font-size: 14px ;
    font-weight: 500;
    
}
.jour {
    padding: 15px;
}
.champs{
   padding-right: 15px;
}
/* for the table */

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
}


/* for the form */
.button_pdf_1{
    margin-left: 67.5%;
    top: 150px;
}
#pdf_1{
    background-color: #ed2553;
    position: relative;
    top: 7px;
}
#pdf_1:hover{
    background-color:#bd1d42 ;
}
.button_pdf_2{
    text-align: center;
    top: 150px;
    margin-bottom: 40px;
}
#pdf_2{
    background-color: #ed2553;
    position: relative;
}
#pdf_2:hover{
    background-color:#bd1d42 ;
}

#forms{
    display: inline-block;
    margin-left:32%;
    text-align: center;
    border: 1px solid #d4d4d4;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
}
.jour_form{
    text-align: left;
}
.mg_form{
    text-align: right;
    padding-right: 9px;
}
#new{
    padding-bottom: 10px;
}
#modif{
    display: flex;
    margin-left:115%;
    text-align: center;
}
.ancien_medicament{
    pointer-events:none;
}


#new_table_btn,.modify_btn{
    background-color: deepskyblue;
}

#new_table_btn:hover, .modify_btn:hover {
    background-color: #00a8d6;
}

#add_preview{
    background-color: limegreen;
}

#add_preview:hover{
    background-color: #279c27;
}

#table_medic{
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 35.5%;
}

/* for the form */

/* for the cross */
.close {
    position: absolute;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10px;
    top: 7px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
/* for the cross */

/* button */
input[type=button],input[type=submit]{
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px grey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
/* button */

input[type=text], input[type=number]{
    height: 25px;
    border: 1.5px solid #9b9b9b;
    padding: 5px;
}

input[type=checkbox]{
    height: 15px;
    width: 15px;
    border: none;
}

.red_btn{
    background: #ed2553;
}
.red_btn:hover{
    background-color:#bd1d42 ;
}
input:focus{
    border-color: black;
    outline: none;
}

.autocomplete-suggestions { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    border: 1px solid black; 
    background: #FFF;
    overflow: auto; 
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-no-suggestion { 
    padding: 1px 5px;
}
.autocomplete-selected { 
    background: rgb(224, 224, 224); 
}

