[class*="col-"],
footer {
  text-align: center;
  margin: auto;
}
[class*="col-lg-6"] {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
}

/*###### tableau #######*/
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 100;
}

#container_tab {
  border: 1px solid rgb(179, 177, 177);
  border-radius: 10px;
  background-color: #f8fbfe;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 75px;
}

#tab table {
  width: 100%;
  border: 1px solid #e5e5e5;
  background-color: white;
  border: 2px solid #ddd;
  margin-top: 20px;
}

#tab table td {
  border: 1px solid #e5e5e5;
  padding: 5px;
}

#tab .jour {
  border: 2px solid #ddd;
  border-bottom: 3px solid #ddd;
}
.jour,
.heures {
  font-family: "Roboto", sans-serif;
  background: #128286;
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
/*###### tableau #######*/

/* for the cross */
.close {
  position: absolute;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 10px;
  top: 10px;
  content: " ";
  height: 10px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* for the cross */

/* for the form*/
#container_form {
  border: 1px solid rgb(179, 177, 177);
  background-color: #f8fbfe;
  border-radius: 10px;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
}
#form table {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

#form #champs2 td {
  border: 1px solid #e5e5e5;
}

#form #champs2 #transparent {
  border: 1px solid white;
  background-color: #f8fbfe;
  padding-top: 15px;
  padding-bottom: -15px;
}
#form #champs {
  background-color: #f8fbfe;
}

#form #champs #reponse {
  text-align: center;
}
#form ul {
  list-style: none;
  border: 1.5px solid #9b9b9b;
  background-color: rgb(255, 255, 255);
  width: 190px;
  text-align: center;
  float: left;
  padding: 0px;
  margin-top: 0px;
  margin-left: 10px;
}
#form li:hover {
  color: black;
  background: #c5c5c5;
}

.button_pdf_2 {
  text-align: center;
  top: 150px;
  margin-bottom: 40px;
}
.container_pdf {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 15px;
  right: 2.1%;
}

#pdf_2 {
  background-color: #c73154;
  position: relative;
}
#pdf_2:hover {
  background-color: #bd1d42;
}

/* for the form*/

/* for the preview*/
#container_preview {
  border: 1px solid rgb(179, 177, 177);
  background-color: #f8fbfe;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
}

#preview table {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

#preview #table_medic #transparent {
  background-color: #f8fbfe;
}
/* for the preview*/

/* pour les bouton*/
#new_table_btn,
.modify_btn {
  background-color: #00a8d6;
}

#new_table_btn:hover,
.modify_btn:hover {
  background-color: #0293bb;
}

#add_preview {
  background-color: #34a734;
}

#add_preview:hover {
  background-color: #289428;
}

#table_medic {
  margin-bottom: 20px;
  margin-top: 40px;
}
.red_btn {
  background: #c73154;
}
.red_btn:hover {
  background-color: #bd1d42;
}
input:focus {
  border-color: black;
  outline: none;
}
/* pour les bouton*/

/* pour les input*/

input[type="button"],
input[type="submit"] {
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
  color: #ffffff;
  border: 1px grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type="text"],
input[type="number"],
input[type="mail"] {
  height: 25px;
  border: 1.5px solid #9b9b9b;
  padding: 5px;
  border-radius: 5px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  border: none;
}

/* pour les input*/

/* autocomplete */

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  background: #fff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-no-suggestion {
  padding: 1px 5px;
}
.autocomplete-selected {
  background: rgb(224, 224, 224);
}

#reponse {
  text-align: center;
}
ul {
  list-style: none;
  border: 1.5px solid #9b9b9b;
  background-color: rgb(255, 255, 255);
  width: 175px;
  text-align: center;
  float: left;
  padding: 0px;
  margin-top: 0px;
}
li:hover {
  color: black;
  background: #c5c5c5;
}

/* autocomplete */
